@if (isLoading) {
  <mat-progress-bar mode="indeterminate" class="toolbar-progress"></mat-progress-bar>
}

<main class="app">
  @if (!isRunning) {
    <div class="settings-container">
      <app-settings-menu></app-settings-menu>
    </div>
    <div class="button-container">
      @if (isLoading) {
        <button mat-raised-button color="primary" (click)="start()" [disabled]="isLoading">
          <mat-icon>hourglass_empty</mat-icon>
          Starting...
        </button>
      } @else {
        <button mat-raised-button color="primary" (click)="start()" [disabled]="isLoading">
          <mat-icon>play_arrow</mat-icon>
          Start AI Assistant
        </button>
      }
    </div>
  } @else {
    <div class="runtime-container">
      <mat-tab-group>
        <mat-tab label="Chat">
          <div class="tab-content-container">
            <div class="chat-container">
              <app-chat-container></app-chat-container>
            </div>
          </div>
          <app-input-container class="input-container"></app-input-container>
        </mat-tab>
        <mat-tab label="Logs">
          <div class="tab-content-container">
            <div class="log-container">
              <app-log-container></app-log-container>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="button-container">
      @if (isLoading) {
        <button mat-raised-button color="warn" (click)="stop()" [disabled]="isLoading">
          <mat-icon>hourglass_empty</mat-icon>
          Stopping...
        </button>
      } @else {
        <button mat-raised-button color="warn" (click)="stop()" [disabled]="isLoading">
          <mat-icon>stop</mat-icon>
          Stop AI Assistant
        </button>
      }
    </div>
  }