.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  justify-items: stretch;
  align-items: stretch;
  background-image: url('../../assets/EDAI_logo.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 1);
}

.settings-container, .log-container {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 20px;
}

.settings-container {
  background: rgba(22, 22, 22, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.log-container {
  background: rgba(22, 22, 22, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button-container {
  display: flex;
  flex: 0;
  justify-content: center;
  padding: 20px 0;
  gap: 10px;
}

.toolbar-progress {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
} 