config.json
*.config.json
config*.json
covas*.db
covas*.db*
EDAI.log
build
dist
gen
target
*.patch
__pycache__
conversation.json
*.log
.env
.cache
node_modules
.angular
.venv
venv

# Ignore all files in the plugins folder
plugins/*

# Ignore all files in the plugin_data folder
plugin_data/*