annotated-types==0.7.0
anyio==4.4.0
certifi==2024.6.2
charset-normalizer==3.3.2
colorama==0.4.6
colorlog==6.8.2
comtypes==1.4.3
distro==1.9.0
exceptiongroup==1.2.1
filelock==3.14.0
fsspec==2024.6.0
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
idna==3.7
importlib-metadata==7.1.0
Jinja2==3.1.4
keyboard==0.13.5
kthread==0.2.3
llvmlite==0.41.1
MarkupSafe==2.1.5
more-itertools==10.2.0
MouseInfo==0.1.3
mpmath==1.3.0
networkx==3.1
numba==0.58.1
numpy==1.24.4
openai==1.31.1
faster-whisper==1.0.2
Pillow==10.3.0
pip==24.0
PyAudio==0.2.14
PyAutoGUI==0.9.54
pydantic==2.7.3
pydantic-core==2.18.4
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pyperclip==1.8.2
pypiwin32==223
PyRect==0.2.0
PyScreeze==0.1.30
pyttsx3
pytweening==1.2.0
pywin32==306
pysilero_vad==1.0.0
regex==2024.5.15
requests==2.32.3
setuptools==41.2.0
sniffio==1.3.1
SpeechRecognition==3.10.4
sympy==1.12.1
tiktoken==0.7.0
tqdm==4.66.4
typing-extensions==4.12.1
urllib3==2.2.1
zipp==3.19.2
#pydub==0.25.1
#pygame==2.5.2
#playsound==1.2.2
#click==8.1.7
#gTTS==2.5.1
#torch==2.2.2
#torchaudio==2.2.2
#torchvision==0.17.2
#cv2