@use '@angular/material' as mat;

@include mat.core();

$primary-palette: (
  50: lighten(#ffa724, 40%),
  100: lighten(#ffa724, 30%),
  200: lighten(#ffa724, 20%),
  300: lighten(#ffa724, 10%),
  400: lighten(#ffa724, 5%),
  500: #ffa724,
  600: darken(#ffa724, 5%),
  700: darken(#ffa724, 10%),
  800: darken(#ffa724, 20%),
  900: darken(#ffa724, 30%),
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: black,
    500: black,
    600: black,
    700: black,
    800: black,
    900: black,
  )
);

$secondary-palette: (
  50: lighten(#448aff, 40%),
  100: lighten(#448aff, 30%),
  200: lighten(#448aff, 20%),
  300: lighten(#448aff, 10%),
  400: lighten(#448aff, 5%),
  500: #448aff,
  600: darken(#448aff, 5%),
  700: darken(#448aff, 10%),
  800: darken(#448aff, 20%),
  900: darken(#448aff, 30%),
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: black,
    500: black,
    600: black,
    700: black,
    800: black,
    900: black,
  )
);

$my-primary: mat.define-palette($primary-palette);
$my-accent: mat.define-palette($secondary-palette);

// Define typography config once
$my-typography: mat.define-typography-config();

// Define density config once
$my-density: 0;

// Dark theme
$my-dark-theme: mat.define-dark-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
  ),
  typography: $my-typography,
  density: $my-density,
));

// Always apply dark theme
@include mat.all-component-colors($my-dark-theme);
@include mat.all-component-typographies($my-typography);
@include mat.all-component-densities($my-density);

html, body, app-root { 
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  color-scheme: dark;
  background-color: #000000;
}

// Styles for the overlay window
html.overlay-window, 
html.overlay-window body,
html.overlay-window app-root {
  background-color: transparent !important;
  overflow: hidden;

  .container, mat-progress-bar, main {
    display: none !important;
  }
}

.custom-tooltip {
  background: #333;
  color: #fff;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 14px;
  max-width: 400px;
  min-width: 200px;
  text-align: justify;
  line-height: 1.4;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  z-index: 1000;
  pointer-events: none;
  position: absolute;
  white-space: normal;
 }

