<div [class]="gridClass">
    @switch (headerLevel) {
        @case ('h2') {
            <h2>{{ grid.label }}</h2>
        }
        @case ('h3') {
            <h3>{{ grid.label }}</h3>
        }
        @case ('h4') {
            <h4>{{ grid.label }}</h4>
        }
    }
    <ng-container *ngTemplateOutlet="fieldsTemplate; context: { $implicit: grid.fields }"></ng-container>
</div>

<ng-template #fieldsTemplate let-fields>
    @for (field of fields; track field.key) {
        @if (field.type === 'condition') {
            @if (matchesCondition(field.condition)) {
                <ng-container *ngTemplateOutlet="fieldsTemplate; context: { $implicit: field.fields }"></ng-container>
            }
        } @else {
        <app-settings-field
            [field]="field"
            [value]="getFieldValue(field)"
            [buttonEnabled]="onButtonClick !== undefined"
            (valueChange)="onFieldChange(field, $event)"
            (buttonClick)="handleButtonClick(field)">
        </app-settings-field>
        }
    }
</ng-template>
