<div class="overlay-container">
    <div class="overlay-content">
        <h1>Status Overlay</h1>
        <div class="status-indicator" [ngClass]="runMode">
            <div class="status-dot"></div>
            <p class="status-text">AI Assistant: <strong>{{ runMode == 'thinking' ? 'ACTIVE' : 'INACTIVE' }}</strong>
            </p>
        </div>
        <p class="ready-text" *ngIf="runMode=='thinking'">System preparing...</p>
    </div>
    <div class="overlay-pngtuber" [ngClass]="action"></div>
</div>
