:host {
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.overlay-container {
  display: grid;
  -background-color: #ff000020;
  grid-template: 
    ". ." 1fr
    ". character" 600px
    / 1fr 400px;
  box-sizing: border-box;
  aspect-ratio: 16/9;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.overlay-character {
  grid-area: character;
  display: flex;
  flex-direction: column;
  transform: translateX(0);
  transition: transform 0.26s ease-out;
  &.idle {
    transform: translateX(100%)
  }
}

.overlay-pngtuber {
  display: block;
  width: 100%;
  height: 400px;
  grid-area: pngtuber;
  background:  url('../../assets/cn_avatar1.png');
  background-size: 200%;
  background-position: 0% 0%;
  transform: scaleX(-1);
  &.listening {
    background-position: 0% 0%;
  }
  &.speaking {
    background-position: 100% 0%;
  }
  &.thinking {
    background-position: 0% 100%;
  }
  &.acting {
    background-position: 100% 100%;
  }
  &.idle {
    background-position: 0% 0%;
  }
}


.overlay-chat {
  grid-area: content;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  text-align: left;
  align-self: stretch;
  justify-self: stretch;
}

h1 {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 15px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

p {
  color: white;
  font-size: 1rem;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.ready-text {
  margin-top: 10px;
  font-style: italic;
  color: #ffcc00;
}
