.settings-grid {
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding: 20px;
}

mat-form-field {
  width: 100%;
}

mat-slide-toggle {
  margin: 10px 0;
}

.permission-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin: 8px 0 12px 16px;
}

.permission-item {
  display: flex;
  align-items: center;
}