<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" [(selectedIndex)]="selectedIndex">
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon">settings</mat-icon>
            General
        </ng-template>
        <div class="tab-content">
            @if (config && (!config.commander_name || !config.api_key || !usageDisclaimerAccepted) ) {
                <mat-card appearance="outlined" class="welcome-message" [class.highlight]="highlightDisclaimerCard" style="margin-bottom: 20px;">
                    <mat-card-header>
                        <mat-icon mat-card-avatar color="primary">info</mat-icon>
                        <mat-card-title>Welcome to COVAS:NEXT!</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>To get started, please follow our getting started guide <a target="_blank"
                                                                                      rel="noopener noreferrer"
                                                                                      href="https://ratherrude.github.io/Elite-Dangerous-AI-Integration/">here</a>.
                        </p>
                        @if (!usageDisclaimerAccepted) {
                            <p>In order to improve this project, we collect anonymous usage data. This includes the number of interactions, response times, basic system information
                                and other information. Learn more about this <a target="_blank"
                                                                        rel="noopener noreferrer"
                                                                        href="https://ratherrude.github.io/Elite-Dangerous-AI-Integration/data-policy.html">here</a>.
                        }
                    </mat-card-content>
                    @if (!usageDisclaimerAccepted) {
                        <mat-card-actions align="end">
                            <button mat-raised-button color="primary" (click)="acceptUsageDisclaimer()">Accept</button>
                        </mat-card-actions>
                    }
                </mat-card>
            }
            @if (config) {
                <app-general-settings></app-general-settings>
            }
        </div>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon">person</mat-icon>
            Characters
        </ng-template>
        <div class="tab-content">
            @if (config) {
                <app-character-settings></app-character-settings>
            }
        </div>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon">bolt</mat-icon>
            Actions
        </ng-template>
        <div class="tab-content">
            @if (config) {
                <app-actions-settings></app-actions-settings>
            }
        </div>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon">tune</mat-icon>
            Advanced
        </ng-template>
        <div class="tab-content">
            @if (config) {
                <app-advanced-settings></app-advanced-settings>
            }
        </div>
    </mat-tab>
    @if (system?.edcopilot_installed || has_plugin_settings) {
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">extension</mat-icon>
                Plugins
            </ng-template>
            <div class="tab-content">
                @if (config) {
                    @if (system && system.edcopilot_installed) {
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <mat-icon fontSet="material-symbols-outlined" class="tab-icon">robot_2</mat-icon>
                                    EDCoPilot
                                </mat-panel-title>
                            </mat-expansion-panel-header>

                            <div class="settings-grid">
                                <mat-slide-toggle [(ngModel)]="config.edcopilot"
                                                (ngModelChange)="onConfigChange({edcopilot: $event})">
                                    Enable EDCoPilot Integration
                                </mat-slide-toggle>
                                @if (config.edcopilot) {
                                    <p>
                                        EDCoPilot <strong>does not</strong> share the contents of its UI, nor any other data. <strong>It adds zero functionality or knowledge to the AI.</strong><br />

                                        The EDCoPilot integration prevents both applications for talking at the same time and allows COVAS:NEXT to control EDCoPilot's UI.
                                        There are two modes of operation. <br>
                                        Learn more about this feature <a target="_blank" rel="noopener noreferrer"
                                                                        href="https://ratherrude.github.io/Elite-Dangerous-AI-Integration/50_EDCoPilot/">here.</a>
                                    </p>
                                    <p>Enabled:</p>
                                    <ul>
                                        <li>EDCoPilot will show COVAS:NEXT chat history</li>
                                        <li>COVAS:NEXT will generate responses</li>
                                    </ul>
                                    <p>COVAS:NEXT Dominant:</p>
                                    <ul>
                                        <li>EDCoPilot will be silent</li>
                                        <li>COVAS:NEXT low-latency Text-to-Speech is used</li>
                                    </ul>
                                    <p>EDCoPilot Dominant:</p>
                                    <ul>
                                        <li>EDCoPilot will generate regular responses</li>
                                        <li>COVAS:NEXT will generate responses, using EDCoPilot's Text-to-Speech</li>
                                    </ul>

                                    <mat-form-field>
                                        <mat-label>Speech Output Application</mat-label>
                                        <mat-select [value]="config.edcopilot_dominant ? 'edcopilot' : 'covas'"
                                                    (selectionChange)="onConfigChange({edcopilot_dominant: $event.value === 'edcopilot'})">
                                            <mat-option value="covas">COVAS:NEXT Dominant</mat-option>
                                            <mat-option value="edcopilot">EDCoPilot Dominant</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-slide-toggle [(ngModel)]="config.edcopilot_actions"
                                                    (ngModelChange)="onConfigChange({edcopilot_actions: $event})">
                                        Enable EDCoPilot UI Actions
                                    </mat-slide-toggle>
                                    <p>We strongly recommend to activate only one set of UI actions, either COVAS:NEXT's or EDCoPilot's.</p>
                                }
                            </div>
                        </mat-expansion-panel>
                    }
                    <app-plugin-settings></app-plugin-settings>
                }
            </div>
        </mat-tab>
    }
</mat-tab-group>

